<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.rating %></p>
<p><%= @restaurant.address %></p>

<%= link_to "Edit", edit_restaurant_path(@restaurant) %>

<%= link_to "Destroy", restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" }  %>